{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Hobbies</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<header>
    <div class="container">
        <h1>My Hobbies</h1>
    </div>
</header>

<main class="container">
    <section id="hobbies-list">
        <h2>Hobbies List</h2>
        <ul>
            <li><a href="#">Winning Cases</a></li>
            <li><a href="#">Participating in Protests</a></li>
        </ul>
    </section>
</main>

<footer>
    <div class="container">
        <p>&copy; 2024 Adv. Shailesh Kumar Singh</p>
    </div>
</footer>

</body>
</html>
