{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Adv. Shailesh Kumar Singh</title>
<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<!-- <header>
  <div class="container">
    <img src="{% static 'images/Shailesh_kumar_Singh.jpg' %}" alt="Shailesh Kumar Singh profile" height = "230" weight = "230">
    <h1>Adv. Shailesh Kumar Singh</h1>
    <p class="subtitle">Senior Advocate | Bansgoan Court</p>
    <nav>
      <ul>
        <li><a href="#">Profile</a></li>
        <li><a href="Contract.html">My Contract</a></li>
        <li><a href="Hobbies.html">My Hobbies</a></li>
      </ul>
    </nav>
  </div>
</header> -->